.div1{
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.all{
  display: flex;
  gap: 20px;
}
@media (max-width:500px) {
  .all{
    display: flex;
    flex-direction: column;
    margin: 0  auto;
  }
}